<h1>{{ title }}</h1>

<div>
  <label for="tipoFiltrado">Filtrar por tipo:</label>
  <select id="tipoFiltrado" [(ngModel)]="tipoFiltrado" (change)="filtrarPorTipo()">
    <option value="Todos">Todos</option>
    <option *ngFor="let vehiculos of vehiculos | unique: 'Type'" [value]="vehiculos.Type">{{ vehiculos.Type }}</option>
  </select>
</div>

<div>
  <ul>
    <li *ngFor="let vehiculos of vehiculosFiltrados">
      <h2>{{ vehiculos.Mark }}</h2>
      <h2> {{ vehiculos.Model }}</h2>
      <p>Tipo: {{ vehiculos.Type }}</p>
      <p>Año: {{ vehiculos.Price }}</p>
      <p>Placa: {{ vehiculos.Plate }}</p>
    </li>
  </ul>
</div>
